html {
    background-color: #060606;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.card {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #2a2a2f;
    border-radius: 10px;
}

.card-header imgÒ{
    margin-bottom: 30px;
}

.card-header h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.card-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
}

.reset-password-form input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 16px;
}

.reset-password-form input:focus {
    outline: none;
}

.reset-password-form input:hover {
    background-color: #4a4a4a;
}

.reset-password-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-form button:hover {
    background-color: #4a4a4a;
}

.reset-password-message {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.error-list {
    font-size: 15px;
    background-color: #a21b1b;
    padding: 20px 20px 20px 40px;
    border-radius: 5px;
}

.error-message {
    margin-bottom: 10px;
}

.Error {
    color: red; /* Change to your preferred error text color */
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 5px; /* Add spacing between input and error message */
}

.success {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.fail {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}